name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: foundry-rs/foundry-toolchain@v1

      - run: forge install

      - run: ls -la lib/

      - run: forge fmt --check

      - run: forge build --sizes

      - run: forge test -vvv

      - run: forge test --mt invariant_protocolMustHaveMoreValueThanTotalSupply -vvv --runs 256