name: CI

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: forge install

      - name: Show dependencies
        run: ls -la lib/

      - name: Format check
        run: forge fmt --check

      - name: Build
        run: forge build --sizes

      - name: Run tests
        run: forge test -vvv

      - name: Run invariant
        run: forge test --mt invariant_protocolMustHaveMoreValueThanTotalSupply -vvv --runs 512